#back{
  position: fixed;
  border: 6px;
  border-style: dashed;
  border-spacing: inherit;
  border-radius: 30px;
  width: 20%;
  top: 630px;
  right: 750px;
}

body, html
{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.wrapper
{
    width: 100%;
    height: 100%;
}

#myCanvas
{
    width: 100%;
    height: 100%;
    background: #000;
}
