#btns {
   position: fixed;
   top: 430px;
   width: 70%;
   right: 180px;
}

#btns1 {
   position: fixed;
   width: 70%;
   top: -400px;
   right: 180px;
}

.btn {
  position: fixed;
  width: 5%;
  top: 350px;
  right: 10px;
}

.btn1 {
  position: fixed;
  width: 5%;
  top: 420px;
  right: 10px;
}
